@charset 'utf-8';
* {margin: 0px; padding: 0px;}
li, ol {list-style:none;}

/*lay out */
body {background:#efefef;}
#wrap {margin:0 auto; width:1000px; border:1px solid #333; background-color: #fff;}
#header {height:100px; background: #333; color:#fff;}
#container {}


/* header */
h1 {text-align: center; line-height: 100px;}
/* container */
.food_area { }

/*.food_menu */
.today_menu {
	/*position: absolute;
	top:100px;*/
	margin:20px auto; padding:20px; width:800px; border:1px solid #333; text-align: center;
	background-color: #fff;
}
.today_menu h2 {margin: 10px;}
.today_menu p {color:#23b300; font-weight: bold; font-size: 17px;}
.today_menu img {width: 382px; height: 200px;}
/* .food_list */
.menu_list_area {position: relative;}
.menu_list {width: 800px; padding: 20px; margin:10px auto;}
.menu_list:after {display: block; content: ""; clear: both;}
.menu_list li {float:left; padding:10px; width:380px; }
.menu_list li img {width:382px; height:200px;}
.menu_list li button {margin: 5px 0; border:none; background:#23b300; width: 60px; height:30px; color:#fff; cursor: pointer; }

.food_total {position: absolute; right:-141px; top:0px; width: 100px; padding: 20px; margin:10px auto;text-align: center; background-color: #23b300; color: #fff; height: 400px;}
.food_total strong { }

